.vui,
.vui ::before,
.vui ::after,
.vui *,
.vui *::before,
.vui *::after {
    box-sizing: border-box;
}

.vui {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: inherit;
    }

    button,
    input {
        overflow: visible;
    }

    button,
    select {
        text-transform: none;
    }
}
